.btn {
  background-color: transparent;
  background-position: left bottom;
  background-size: 200% auto;
  border: 0;
  font-weight: 500;
  padding: .3rem .75rem;
  transition: background-position .5s;

  &:hover {
    background-position: right top;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    background-image: linear-gradient(45deg, $value 0%, lighten($value, 20%) 51%, $value 100%);
    color: color-yiq($value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    background-clip: padding-box; // Important
    background-image: linear-gradient(45deg, $white 0%, $white 49%, $value 51%, lighten($value, 20%) 100%);
    border: solid $btn-border-width transparent; // Important
    border-radius: $btn-border-radius;
    padding: calc(.3rem - #{$btn-border-width}) calc(.75rem - #{$btn-border-width});
    position: relative;

    &::before {
      background: linear-gradient(to right, $value 0%, lighten($value, 20%) 100%);
      border-radius: inherit; // Important
      bottom: 0;
      content: '';
      left: 0;
      margin: -$btn-border-width; // Important
      position: absolute;
      right: 0;
      top: 0;
      z-index: -1;
    }

    &:hover {
      border: solid $btn-border-width transparent;
    }

    &:focus,
    &.focus {
      box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      background-image: linear-gradient(45deg, $value 0%, lighten($value, 20%) 51%, $value 100%);
      border: solid $btn-border-width $white;
      color: color-yiq($value);

      &::before {
        background: transparent;
      }
    }
  }
}

.btn-group {
  background-color: $gray-200;
  border-radius: $btn-border-radius;
  padding: .2rem;

  .btn:not(:active):not(.active) {
    border: solid $btn-border-width $white;

    @each $color, $value in $theme-colors {
      &.btn-outline-#{$color}:hover::before {
        background: transparent;
      }
    }
  }

  > .btn:not(:last-child):not(.dropdown-toggle),
  > .btn-group:not(:last-child) > .btn {
    @include border-radius($btn-border-radius);
  }

  > .btn:not(:first-child),
  > .btn-group:not(:first-child) > .btn {
    @include border-radius($btn-border-radius);
    margin-left: .25rem;
  }
}

.input-group-append .btn {
  padding-left: $input-group-padding-horizontal;
  padding-right: $input-group-padding-horizontal;
}
