.btn {
  font-weight: 500;
  border: none;
  padding: .3rem .75rem;
  background-color: transparent;
  background-size: 200% auto;
  background-position: left bottom;
  transition: background-position 0.5s;

  &:hover {
    background-position: right top;
  }
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    background-image: linear-gradient(45deg, $value 0%, lighten($value, 20%) 51%, $value 100%);
    color: color-yiq($value);
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    position: relative;
    padding: calc(.3rem - #{$btn-border-width}) calc(.75rem - #{$btn-border-width});
    background-image: linear-gradient(45deg, $white 0%, $white 49%, $value 51%, lighten($value, 20%) 100%);
    background-clip: padding-box; /* !important */
    border: solid $btn-border-width transparent; /* !important */
    border-radius: $btn-border-radius;

    &:before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      z-index: -1;
      margin: -$btn-border-width; /* !important */
      border-radius: inherit; /* !important */
      background: linear-gradient(to right, $value 0%, lighten($value, 20%) 100%);
    }

    &:hover {
      border: solid $btn-border-width transparent;
    }

    &:focus,
    &.focus {
      box-shadow: none;
    }

    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active {
      color: color-yiq($value);
      background-image: linear-gradient(45deg, $value 0%, lighten($value, 20%) 51%, $value 100%);
      border: solid $btn-border-width $white;

      &:before {
        background: transparent;
      }
    }
  }
}

.btn-group {
  padding: .2rem;
  border-radius: $btn-border-radius;
  background-color: $gray-200;

  & .btn {
    &:not(:active):not(.active) {
      border: solid $btn-border-width $white;

      @each $color, $value in $theme-colors {
        &.btn-outline-#{$color} {
          &:hover:before {
            background: transparent;
          }
        }
      }
    }
  }

  & > .btn:not(:last-child):not(.dropdown-toggle),
  > .btn-group:not(:last-child) > .btn {
    @include border-radius($btn-border-radius);
  }

  & > .btn:not(:first-child),
  > .btn-group:not(:first-child) > .btn {
    margin-left: .25rem;
    @include border-radius($btn-border-radius);
  }
}

.input-group-append .btn {
  padding-left: $input-group-padding-horizontal;
  padding-right: $input-group-padding-horizontal;
}
