$theme-colors: (
  "level-1": #FFD700,
  "level-2": #9ACD32,
  "level-3": #008000,
  "primary": #17CEBD,
  "icon-primary": #26F596,
  "icon-secondary": #0499F2
);

$headings-font-weight: 800;

$link-color: #6c757d;
$link-hover-decoration: none;

$btn-border-radius: 2rem;
$btn-border-width: 3px;
$input-border-radius: 2rem;
$input-group-padding-horizontal: 1rem;
