.navbar {
  .navbar-brand {
    background-image: linear-gradient(to right, theme-color('icon-primary') 0%, theme-color('icon-secondary') 51%, theme-color('icon-primary') 100%);
    background-size: 200% auto;
    border: 0;
    border-radius: $btn-border-radius;
    color: $white;// !important;
    font-weight: 800;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: .5s;

    &:hover {
      background-position: right center;
    }
  }

  form {
    margin-top: 1rem;
  }
}
