.shadow {
  box-shadow: 0 0 1em 0 $navbar-light-color;

  &.input-group {
    border-radius: $input-border-radius;
  }
}

h2,
h3,
h4,
h5,
h6,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 600;
}

h3,
.h3 {
  color: $gray-600;
}

h4,
.h4 {
  font-weight: 400;
}
